body {
    font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
.navbar-inverse {
    background-color: #A31B1B;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.form-control {
    border-radius: 4px;
    height: 43px;
}
.form-control:focus {
    border-color : #A31B1B;
}
.btn, .btn-lg {
    padding: 9px 22px;
}
.btn {
    font-size: 16px;
}
.btn-primary {
    background-color: #A31B1B;
}
.btn-primary:hover {
    background-color: #E58A8D;
}
.btn-lg {
    font-size : 20px;
}
#registerForm {
    width : 300px;
    margin : auto;
}

#navbar2 {
    color : white;
    margin-top: 10px;
    font-size: 20px;
}

#disconnectButton {
    float: right;
    color: white;
    font-size: 16px;
}

label {
    font-size: 16px;
}
#headerLogo {
    font-size: 30px;
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
}